* {
    user-select: none; /* This will disable text selection on the entire page */
    -webkit-user-select: none; /* For Safari and Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE10+/Edge */
}

.grid-top-bar  { grid-area: 1 / 1 / 2 / 3; }
.grid-main     { grid-area: 2 / 1 / 3 / 3; }
.grid-footer   { grid-area: 3 / 1 / 4 / 3; }
.grid-left-bar { grid-area: 1 / 1 / 3 / 2; }

html { position: fixed; }

body {
    margin: 0; padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-style: normal;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.app-container {
    margin: 0; padding: 0;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 16fr;
    grid-template-rows: 2em 4fr 1em;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--color-black);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
}

.view-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
}

.footer span:hover {
  background-color: var(--color-black);
  color: var(--color-green);
}

#color-theme-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 1.5rem;
}

.center-field {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

@font-face {
    font-family: 'Material Icons';
    font-display: block;
}
