.topnav {
  background-color: var(--color-dark);
  overflow: hidden;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav span {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

/* Style the links inside the navigation bar */
.navanchor {
  color: var(--color-white);
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.topnav .clock {
  color: var(--color-white);
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.clock p {
    color: var(--color-green);
}

/* Change the color of links on hover */
.navanchor:hover {
  background-color: var(--color-darker-gray);
  color: var(--color-green);
}

/* Add a color to the active/current link */
.topnav .navanchor.active {
  background-color: var(--color-green);
  color: var(--color-black);
}
