:root {
    --color-dark: #232A2D;
    --color-light-red: #E57474;
    --color-light-green: #8CCF7E;
    --color-light-yellow: #E5C76B;
    --color-light-blue: #67B0E8;
    --color-light-purple: #C47FD5;
    --color-teal: #6CBFBF;
    --color-light-gray: #B3B9B8;
    --color-darker-gray: #2D3437;
    --color-red: #EF7E7E;
    --color-green: #96D988;
    --color-yellow: #F4D67A;
    --color-blue: #71BAF2;
    --color-purple: #CE89DF;
    --color-light-teal: #67CBE7;
    --color-gray: #BDC3C2;
    --color-white: #eceff4;
}

.topnav {
  background-color: var(--color-dark);
  overflow: hidden;
  /* min-height: 1.5em; */
  /* max-height: 1.5em; */
}

/* Style the links inside the navigation bar */
.topnav .navanchor {
  float: left;
  color: var(--color-white);
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.topnav .clock {
  float: right;
  color: var(--color-white);
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Change the color of links on hover */
.navanchor:hover {
  background-color: var(--color-darker-gray);
  color: var(--color-green);
}

/* Add a color to the active/current link */
.topnav .navanchor.active {
  background-color: var(--color-green);
  color: black;
}
