.fullscreen {
    top: 0; left: 0;
    z-index: 1;
    position: absolute;
    background-color: var(--color-black);
    box-sizing: border-box;
}

.view-win {
    border: medium solid var(--color-green);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75em 1fr;
}


.winbar {
    grid-area: 1/1/2/2;
    background-color: var(--color-green);
    /* padding: 0.5rem; */
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    color: black;
    height: 100%;
}

.winbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.winbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winbar-right span, .winbar-left span {
    font-size: 1rem;
    padding: 0.25rem;
}

.winbar-right span:hover{ font-size: 1.25rem; }
