.winbar {
    grid-area: 1/1/2/2;
    background-color: var(--color-green);
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.winbar-left {
    display: flex;
}
.winbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winbar-right span {
    font-size: 1rem;
    padding: 0.25rem;
}

.winbar-right span:hover{ font-size: 1.25rem; }
